<!DOCTYPE html>
<html>
<head>
  <title>Recipe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='modal'></div>
<div id='header'>
	<div id='intro'>
	  <h1>Fridge Food</h1>
	  <h3>Let's make a meal</h3>
	</div>

	<div id="add-form">
	  <input type="text" id="add-input" placeholder="What's in your Fridge?" autofocus="true">
	  <button id="add-button">Add</button>
	  <button id="search-button">Search</button>
	</div>
</div>
	<div id="ingredients"></div>





</body>

</html>
